@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-barlow: 'Barlow', sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow);
}